{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Удаление комментария{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 40rem;">
        <div class="card-header">Удаление комментария</div>
        <div class="card-body">
          <form method="post" action="{% url 'blog:delete_comment' comment.post.id comment.id %}">
            {% csrf_token %}
            <p>{{ comment.text }}</p>
            {% bootstrap_button button_type="submit" content="Удалить" %}
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}